.error{
    text-align: center;
    position: relative;
    border-radius: .3rem;
    padding: .35rem 1.25rem;
    font-weight: 600;
    color: #c52e3d;
    background-color: #c7787e;
    border: 2px solid #c7787e;
    margin-top: 14px;
}