@import "../../assets/styles/base.scss";

.footer__foot {
    background-color: transparent;
    font-size: .8rem;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $white;

    a {
        color: $emphasize-color;
        text-decoration: none;
    }
}